@font-face {
    font-family: "BBCNassim";
    src: url("../resources/font/BBCNassim.eot");
    src: local("☺"),
        url("../resources/font/BBCNassim.woff") format("woff"),
        url("../resources/font/BBCNassim.ttf") format("truetype");
}

body {
    margin: 0;
    background-image:url("../resources/images/t5.jpg") ;
}

body * {
    font-family: "BBCNassim", Helvetica, sans-serif;
}

body a {
    text-decoration: none;
    color: #222222;
}

body a:hover {
    text-decoration: none;
    color: rgba(190, 27, 22, 0.83);
}

.sticky {
    position: fixed;
    height: 48px;
    width: 100%;
}

.header {
    width: 100%;
    height: 148px;
    z-index: 2;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.logo {
    width: 10%;
    height: inherit;
    display: inline-block;
    text-align: center;
}

.company {
    text-align: center;
    font-size: 72px;
    line-height: 108px;
    height: 150px;
    background: #335C7D;
    color: #fff;
    font-family: BYekan, 'BYekan', tahoma;
    width: 89.7%;
    height: inherit;
    display: inline-block;
    position: absolute;

}

.headerMenu {
    width: 100%;
    direction: rtl;
    background-color: #335C7D;
    color: #335C7D;
    font: -moz-info; 
    font-family: BYekan,'BYekan',tahoma;
    padding-left: 2px;
    font-size: 14px;
    min-width: 900px;
}

submenu .ui-menu-child{
    left: -60px !important;
    width: 9.5em !important;
}

.submenu > ul{
    left: -60px !important;
    width: 8.5em !important;
}

.ui-widget-content.ui-menu-list.ui-corner-all.ui-helper-clearfix.ui-menu-child.ui-shadow{
    left: -90px !important;
    width: 9.5em !important;
}

.ui-menuitem-text {
    float: right !important;
}

.registerImg{
    z-index: 50;
    display: inline;
    margin: 5px;
    //border: 2px solid ;
    border-color: #222222;
    border-radius: 30%;
    margin-right: 15px;
    margin-left: 15px;
    padding: 3px
}

.registerImg:hover{
  
   border-color: #222;
}

.border {
    background-color: antiquewhite; 
    margin-right: 20px;
    border: 2px solid #C7C7C7;
    border-radius: 5px;
    background-color: #F5F5F5;
    margin-bottom: 10px;
/*    box-shadow: 2px 2px 2px 3px #C7C7C7;*/
}

.news{
    width: 230px;
    margin-top: 30px;
    border: none;
}

.iFrameClass{
    width: 98.5%;
    margin-top: 5px;
    margin-bottom: 20px;
}

.news label{
    font-size: 0.8em !important;
}

.news-link{

    overflow: hidden;
    font: -moz-info; 
    font-family: BYekan,'BYekan',tahoma;
    padding-left: 2px;
    font-size: 11px;
}

.shortcat{

}

.content {
    width: 100%;
    padding-top: 10px;
    float: right;
    min-width: 900px;
    background: #e3e3e3;

}

.singupcontent {
    width: 72%;
    height: 500px;
    display: inline-block;
    margin-top: 50px;
    font: -moz-info;
    font-family: BYekan,'BYekan',tahoma;
    padding-left: 5%;
    font-size: 14px;
    padding-right: 3% !important;

    min-width: 625px;

}



.sidePanel {

    width: 20%;
    padding-top: 20px;
    display: inline-block;
    position: absolute;
    font: -moz-info;
    font-family: BYekan,'BYekan',tahoma;
    min-width: 220px;
    font-size: 14px;
    direction: rtl;
}


.usersidePanel {
z-index: 1;
    width: 20%;
    height: 100%;
    padding-top: 45px;
    display: inline-block;
    position: absolute;
    font: -moz-info;
    font-family: BYekan,'BYekan',tahoma;
    min-width: 205px;
    font-size: 14px;
    direction: rtl;
    margin-top: -10px;
}





.sidePanel a {
    display: block;
}

.maincontentPanel {

    width: 72%;
    height: 500px;
    display: inline-block;
    margin-top: 5px;
    font: -moz-info;
    font-family: BYekan,'BYekan',tahoma;
    padding-left: 5%;
    font-size: 14px;
    padding-right: 2% !important;
    margin-top: -30px;
    min-width: 625px;

}


.contentPanel {

    width: 72%;
    height: 500px;
    display: inline-block;
    margin-top: 5px;
    font: -moz-info;
    font-family: BYekan,'BYekan',tahoma;
    padding-left: 5%;
    font-size: 14px;
    padding-right: 3% !important;
    margin-top: -30px;
    min-width: 625px;
}

.footer {
    width: 100%;
    height: 50px;

}

.footer * {
    font-size: 14px;
}

.footer table{
    background-color: #0066ff;
}



.dataTable{
    border: none;
    border-width: 0px;
    direction: rtl ;
    margin-bottom: 10px;
    margin-top: 56px;
    margin-right: 30px;
    font: -moz-info; 
    font-family: BYekan,'BYekan',tahoma;
    padding-left: 2px;
    font-size: 14px;
}

.font{
    direction: rtl ;
    font: -moz-info; 
    font-family: BYekan,'BYekan',tahoma;
    padding-left: 2px;
    font-size: 14px;
}
.helpfont{
    direction: rtl ;
    font: -moz-info; 
    font-family: BYekan,'BYekan',tahoma;
    padding-left: 9px;
    font-size: 11px;
    position: absolute;
    padding-top:  100px;
}

.panel{
    border-width: 0px;
    font: -moz-info; 
    font-family: BYekan,'BYekan',tahoma;
    padding-left: 2px;
    font-size: 14px;

    margin: 56px;
    float:right

}
.form{
    direction: rtl ;
    font: -moz-info; 
    font-family: BYekan,'BYekan',tahoma;
    padding-left: 2px;
    font-size: 14px;
    margin: 56px;
}

.input{
    width:200px;
    float: right;
    direction: rtl;
    padding-right: 15px
}

.profile{
    direction: rtl ;
    font: -moz-info; 
    font-family: BYekan,'BYekan',tahoma;
    padding-left: 2px;
    font-size: 14px;
    margin: 56px;
    width: 500px;
}
.maininput{
    float: right ;
    width: 95%;
    min-width: 200px;
}
.mainimage{
    padding-right: 15px;
    width: 90%;
    min-width: 240px;
}
.mainpanel1{
    margin-top:25px; 
    width: 89%;
    min-width: 210px;
}
.mainpane12{
    width: 90%;
    margin-top: 30px;
    min-width: 210px;
}

/* Smartphones (portrait and landscape) ----------- */
